body {
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;

  font-family: Noto Sans Korean;
  font-weight: 800;
  font-size: 20px;
}

.logo{
  height: 50px;
  margin: 0;
}

.header{
  position:fixed;

  height: 50px;
  width: 100%;

  left: 0;
  top: 0;
  margin: 0;
  padding: 10px;

  display: flex;
  align-items: center;

  border: 0;
  border-bottom: 1px;
  border-style: solid;
  border-color: rgb(128, 128, 128);
  background-color: white;
}

.middle{
  margin: 0px;
  margin-left: 60px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 600px;
  max-width: 70%;
}

.content{
  display: grid;
  justify-content: center;
  grid-template-columns: 40%;
  margin-top: 70px;
}

@media (pointer:coarse) {
  .content{
    display: grid;
    justify-content: center;
    grid-template-columns: 100%;
    margin-top: 0;
  }

  .info{
    margin: 0px;
  }
}

.info_img{
  margin: 0px;
  width: 100%;
}

.info_text{
  margin: 0px;
  margin-top: 50px;
  width: 100%;
  height: 1000px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.info_text p{
  font-size: 30px;
}

.intro,
.nav,
.fund,
.credit{
  transition: all 0.2s;
}

.intro:hover,
.nav:hover,
.fund:hover,
.credit:hover{
  cursor: pointer;
  text-decoration: underline;
}

.intro:active,
.nav:active,
.fund:active,
.credit:active{
  color:rgb(128, 128, 128);
}

.mouse{
  position: fixed;
  top: 56px;
  margin: 0;
  z-index: 3;
}

.cheese{
  position: fixed;
  top: 30px;
  right: 50px;
  z-index: 3;
}